 body{
  font-family: Arial, Helvetica, sans-serif;
}
.practice-2{
  margin-top: 50px;
}

.todo-grid , .todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap:  10px;
  align-items: center;
}


.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}

.todoItem , .dateInput{
  padding: 6px;
  font-size: 15px;
}
.add-btn{
  background: green;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
}
.delete-btn{
  background: rgb(134, 1, 1);
  color: white;
  border: none;
  padding: 10px 28px;
  color: white;
  font-size: 15px;
  display: inline;
  cursor: pointer;
}
 
